.footer {
    background-color: var(--background);
    padding: 5rem;
    clip-path: (0 0, 100% 10%, 100% 100%, 0% 100%);
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    padding: 1rem;
}

.footer .col {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.footer .bar {
    width: 32px;
    border-bottom: 4px solid var(--primary);
    margin: 1rem 0;
}

.footer a {
    font-size: 1rem;
}

.footer .icon {
    color: #303030;
    margin-right: 4px;
}

.footer .img:hover{
    scale: (1.2);
    transition: 0.5s ease-in-out;
}

@media screen and (max-width:940px) {
    .footer .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer .col-1 {
        display: none;
    }

    @media screen and (max-width:478px) {
        
    }
}